.visit-banner-img {
    background-image: url(../assets/exhibition-1863344_1920.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.visit-banner-img h1 {
    color: #ffffff;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 235px;
    padding: 13px;
    background: rgb(0,0,0,0.5);
    position: relative;
}

.visit-heading {
    text-align: center;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    color: #000000;
    padding-top: 1em;
}

ul {
    list-style: none;
    
}

.li-hours {
    padding: 0.5em;
}

.hours-list {
    display: flex;
    justify-content: center;
}

.visit-padding {
    padding: 1em 0 2em;
}

.visit-spacing {
    padding: 1em;
}

.no-padding {
    padding: 0;
}

.icon-container {
    text-align: center;
    margin-top: 1.5em;
}

.fa-solid.fa-location-dot,
.fa-solid.fa-phone,
.fa-solid.fa-clock,
.fa-solid.fa-utensils,
.fa-solid.fa-basket-shopping {
    font-size: 75px;
}

.contact-form {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1em;
}

.contact-form-style {
    border-radius: 4px;
    border-width: 1px;
    border-color: #000000;
    padding: 0.7em;
    box-sizing: border-box;
    width: 300px;
    margin: 0.5em 0;
}

.contact-flex {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: #FFDA81;
    color: #000000;
    padding: 0.4em 2em;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: 1.3em;
    border-radius: 4px;
    border-width: 1px;
    border-color: #000000;
    margin: 0.5em;
    cursor: pointer;
}

.submit {
    display: flex;
    justify-content: left;
    align-items: left;
}

@media (min-width: 600px) {

    .visit-banner-img {
        height: 400px;
    }

    .visit-banner-img h1 {
        font-size: 2.5em;
        top: 325px;
    }

    .content-font {
        width: 60%;
        margin: 1em auto;
    }
    
    
}